# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (Configuración individual)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow
DB_USER=postgres
DB_PASSWORD=

# Base de Datos (URL de conexión)
# Formato: postgresql://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=1d